%menu-properties {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

.ims-icon {
    @extend %menu-properties;
    background-image: url("../../images/Icon-Ims.svg");
}
