@import "../fonts";
@import "icons";
//@import "ui";

body,
a,
h1,h2,h3,h4,h5,h6,
input,button,
select{
    font-family: 'Source Sans Pro','IRANYEKAN', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.rtl {
    .navbar-left {
        right: 0 !important;

        ul.menubar {
            li.menu-item {
                ul.sub-menubar {
                    top: 0;
                    right: 54px !important;
                }
            }
        }
    }
}
.content-container {
    .content {
        .page-header{
            .control-group.date{
                width: 210px;
            }
        }
    }
}
.control-group.date .control,
.control-group.datetime .control,
.rtl .control-group.date .control,
.rtl .control-group.datetime .control{
    padding: 0;
}
.control-group.date:after, .control-group.datetime:after{
    content: none;
}
.datapicker-wrapper{
    width: 100%;
}
.vpd-input-group input{
    width: 100%;
}
.image-item{
    &.cart-image {
        box-shadow: 0 0 12px 4px #4ef188;
    }
}