body.rtl{
    .alert-wrapper{
        text-align: right;
        right: auto;
        left: 10px;
        top: 50px;

        .alert{
            .icon{
                right: auto;
                left: 10px;
            }
        }
    }
}
body:not(.Administrator){
    .slider-switch, .header-count,
    .home-page-content, .product-policy, .footer{
        display: none;
    }
}
.pduct-edit{
    .control-group{
        &.product_number,&.tax_category_id, {
                display: none;
            }
    }
    .channels {
            &.accordian{
                display: none;
            }

    }
}
