header .vc-small-screen .searchbar.mobile {
    width: 100%;
    border-top: 1px solid #ccc;
    background: #fff;
    padding: 5px 20px;
}
header #search-form #header-search-icon {
    border-radius: 0 2px 2px 0;
    min-width: 40px;
}
body header .vc-small-screen #search-form,
body.rtl header .vc-small-screen #search-form {

    #header-search-icon {
        background-color: $main-color;
        border-radius: 2px 0 0 2px;
        min-width: 40px;

        i {
            height: 100%;
            color: #fff;

        }
    }

    input {
        border: 1px solid $main-color;
        width: calc(100% - 40px);
    }

}

@media only screen and (max-width: 992px) {
    header .vc-small-screen #search-form {
        margin: 0;

        .btn-toolbar {
            margin: 0;
        }
    }
    #sort-by.sorter select{
        left: auto;
        right: 25px;
    }
    .category-page-wrapper .category-container .filters-container .toolbar-wrapper>div.col-4 span{
        left: auto;
        right: 5px;
    }
    .nav-container .wrapper ul li .category-logo, .nav-container .wrapper ul li .language-logo-wrapper{
        margin-right: 0;
        margin-left: 5px;
    }
    .nav-container .wrapper ul li .category-logo, .nav-container .wrapper ul li .language-logo-wrapper{
        height: auto;
        width: 25px;
    }
    .nav-container .wrapper{
        ul.category-wrapper{
            li{
                display: flex;
                i{
                    align-self: center;
                    margin-right: auto;
                    padding-top: 0;
                }
            }
        }
    }

}