.rtl{
    .dropdown-list{
        text-align: right;
    }
    #cart-modal-content .small-card-container .remove-item{
        left: auto;
        right: -10px;
    }
    .rango-arrow-left{
        &:before{
            content: "î¤ˆ";
        }
    }
}
