.rtl{
    .dropdown-list{
        text-align: right;
    }
    #cart-modal-content .small-card-container .remove-item{
        left: auto;
        right: -10px;
    }
    .rango-arrow-left{
        &:before{
            content: "";
        }
    }
    .grid-container .datagrid-filters .filter-right {

        .dropdown-list{
            left: 0;
            right: auto;
        }
        .control-group{
            margin-bottom: 0;
        }
    }


}
