// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-bg: #fff;
$purple: #770c76;
$purple-dark: #4d054c;
$blue-gray: #969da1;
$yellow: #ffb911;
$purple-trans: rgba(82, 46, 142, 0.8);
$important: #d20c0c;

$purple-grad: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
$yello-purple-grad: linear-gradient( 90deg, #530564 10%, #f9c21c 100%);