
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-bg: #fff;
$main-color: #2b348f;
$main-color-dark: #1f256a;
$blue-gray: #969da1;
$yellow: #fcb319;
$main-color-transparent: rgba(43, 52, 143, 0.8);
$important: #d20c0c;

$main-color-grad: linear-gradient( 135deg, #4a58f1 -10%, #2b348f 100%);
$yellow-main-color-grad: linear-gradient( 90deg, #fcb319 -10%, #2b348f 100%);