// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-bg: #f1f1f4;
$purple: #770c76;
$purple-dark: #4d054c;
$blue-gray: #969da1;
$yellow: #ffb911;
$purple-trans: rgba(82, 46, 142, 0.8);
$important: #d20c0c;
