::-webkit-scrollbar{
    width: 8px;
    height: auto;
}
::-webkit-scrollbar-thumb {
    background-color: #c0c2c5;
    border-radius: 16px;
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #f0f0f1;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.checkbox input{
    left: auto;
    right: 0;
}
.thumb-list{
    list-style: none;
}
#modal-blocker{
    display: none;
}
#search-blocker{
    display: none;
}
body.open-hamburger{
    opacity: 1;
    #modal-blocker{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #ffffff;
        opacity: 0.8;
        z-index: 10;
    }
}
body.open-search{
    opacity: 1;
    #search-blocker{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #ffffff;
        opacity: 0.8;
        z-index: 0;
    }
}
.img-crisp {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.go-top > div {
    right: auto !important;
    left: 50px !important;
}
.dropdown-list{
    .dropdown-label{
        font-size: 1.4rem;
    }
    .dropdown-container ul li a{
        font-size: 1.4rem;
    }
}
.btn {
    font-size: 1.4rem;
}
.h5, h5 {
    font-size: 1.4rem;
}
.h1, h1{
    font-size: 1.6rem;
}
.h3, h3{
    font-size: 1.4rem;
}
.h6, h6{
    font-size: 1.2rem;
}
.tabs{
    ul{
        padding-right: 0;
    }
}

input.control.coupon-input.disabled {
    background: #cccccc;
    cursor: not-allowed;
}